<h1>To Do List</h1>
<% if @lists.any? %>

<% @lists.each do |list| %>
    <div>
      <ul>
        <li><%= link_to list.items, list_path(list) %></li>
      </ul>
    </div>
<% end %>

<% else %>
    <h3>No List Found, Please Create One!</h3>
<% end %>

<hr />
    <%= link_to 'Create New List Item', new_list_path %>
